h2{
    margin-top: .5rem;
}

label{
    margin-top: .5em;
}

#btnAction{
    margin-top: .5em;
}

.require{
    color:red;
}

.btn-cyan {
    background-color: #00dddd;
    border-color: #00dddd;
    color: white;
}