h2{
    margin-top: .5rem;
}

.block {
    padding: 1em 1em;
    margin-bottom: 1em;
}

td button{
    margin-bottom: 0.5em;
}

.btn-cyan {
    background-color: #00dddd;
    border-color: #00dddd;
    color: white;
}

.btn-rose {
    background-color: #EA899A;
    border-color: #EA899A;
    color: white;
}